.gobackWrapper {
    display: flex;
    align-items: center;
    gap: 3px
}

.goback {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
    color: #34495e;
}

.goback,
.gobackIcon:hover {
    cursor: pointer;
}

.gobackIcon {
    width: 20px;
    height: 20px;
    color: #34495e;
}

.select {
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 3px
}

.select:focus {
    border: 2px solid #34495e;
    outline: none
}

.alertWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px
}

.error {
    color: rgb(113, 19, 19);
    font-weight: 700;
    font-size: 20px
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 12%;
    height: 5%;
    padding: 10px;
    border-radius: 20px;
    background-color: #34495e;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-right: 10%;
    outline: 1px solid #34495e;
}

.add:disabled {
    cursor: not-allowed
}

.next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12%;
    height: 6%;
    padding: 10px;
    border-radius: 20px;
    background-color: #34495e;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-left: 80%;
    margin-bottom: 3%;
    margin-top: 15%;
}

.cross {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.add,
.next,
.cross:hover {
    cursor: pointer
}

.range {
    width: 170px
}

.range:hover {
    cursor: pointer;
}

.proficiency {
    display: flex
}

.percent {
    font-weight: 600;
}

.languageContainer {
    width: 400px;
    height: 100px;
    border: 2px solid  #34495e;
    padding: 20px;
    overflow-y: auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #34495e;
    color:white;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 500;
    gap: 20px;
}

.languageWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.lang {
    display: flex;
    flex-direction: column;
}


.alert {
    height: 30px;
    margin-bottom: 10px
}

.delete {
    background-color: #34495e;
    outline: none;
    color: white;
    border: transparent;
    height: 30px;
    width: 80px;
    border-radius: 5px
}

.delete:hover {
    cursor: pointer;
}