* {
    font-family: Sans-serif;
}

input[type='text'] {
    width: 280px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
}

input[type='date'] {
    width: 190px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px
}

input[type="file"] {
    cursor: pointer;
}

label {
    color: #34495e;
    font-size: 15px;
    font-weight: 700;
}

input[type='text']:focus {
    border: 2px solid #34495e;
    outline: none;
}

h1 {
    color: #34495e;
}

h2 {
    color: #34495e;
}

.msite {
    margin: 6% 0% 0% 5%
}

@media screen and (min-width:820px) {
    .msite {
        display: none
    }
}